.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
  }
  
  #display {
    grid-column: 1 / span 4;
    padding: 10px;
    font-size: 18px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
  }
  body{
    background-image:url(bck.jpg);
   
  }
  